$main_bg: #0f1823;
$agent_cover_bg: url("../assets/bg_cover.svg");

// nav
$secondary: #9ca2ab;
$active: #d5202f;
$white: #fff;
$yellow: #eaeeb2;

$box_bg: #13222f;
$box_skill_bg: #192b3e;

// agent component
$agent_card_bg: #1f2731;
$agent_name_color: #fafbfb;
$agent_role_color: #2e363f;
$agent_skills_color: #d5202f;
